// Заголовки, загальні БЕМ блоки та інше...
.wrapper-page._hide {
	display: none;
}
.wrapper._active {
	.quiz-complete {
		display: flex;
	}
}

#progress-bar {
	margin-bottom: rem(30);
	width: 100%;
	height: 5px;
	background-color: #3771e0;
	transition: all 0.3s;
}

.loading {
	background-color: #e6e6e6;
	border-radius: rem(10);
	padding: rem(30);
	text-align: center;
	@include adaptiveValue('font-size', 30, 24);
	line-height: math.div(40, 30);
}

.ssl {
	background-color: #59a65c;
	border-radius: rem(25);
	text-align: center;
	padding: rem(10) rem(15);
	margin: 0 auto;
	color: #fff;
	max-width: rem(250);
	text-transform: uppercase;
}
