// Заголовки, загальні БЕМ блоки та інше...
.wrapper-page._hide {
	display: none;
}
.wrapper._active {
	.quiz__container {
		display: block;
	}
}

#progress-bar {
	margin-bottom: rem(30);
	width: 100%;
	height: 5px;
	background-color: #3771e0;
	transition: all 0.3s;
}
