//====================================================================================================
.footer {
	padding: rem(25) 0;
	background-color: #fff;
	&__advertised-title {
		padding-bottom: rem(15);
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
	&__advertised-text {
		padding: rem(15) 0;
		line-height: math.div(26, 18);
	}
	&__copyright {
		background-color: #4a4a4a;
		padding: rem(20);
		text-align: center;
		color: #fff;
		margin-bottom: rem(70);
	}
	&__callback {
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding: rem(25) 0;
		gap: rem(15);
		background-color: #fff;

		&._active {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		}
	}
	&__callback-phone {
		font-size: rem(28);
		color: #3771e0;
		font-weight: 600;
	}
}
//====================================================================================================
